!!! 5
%html
  %head
    %meta{:charset=>"utf-8"}
    %meta{:name=>"ROBOTS", :content=>"NOODP"}
    %meta{:name=>"viewport", :content=>"initial-scale=1"}
    %title
      = title
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'application'

    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Questrial'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Sanchez:400italic,400'

    = csrf_meta_tags

  %body{:class=> body_class}
    = render "flashes"
    = yield
    = render "javascript"
